@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

/* *, *::before, *::after {
  transition: background-color 3s ease, color 3s ease;
} */

body {
  max-width: 100vw;
}

/* width */
::-webkit-scrollbar {
    width: 4px; /* Smaller width */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; /* Transparent track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; /* Increased border-radius for more rounded corners */
    border: 2px solid transparent; /* Necessary for transparent track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
